@font-face {
    font-family: valorant_font;
    src: url(Valorant_Font.ttf);

}

h1 {
    color: #FB4454;
    background-color: #181721;
    font-size: 60pt;
    padding-left: 50px;
    padding-top: 35px;
    padding-bottom: 20px;
    margin: -10px -10px 20px -10px;
    font-family: valorant_font;

}

a:-webkit-any-link {
    color: black;
    text-decoration: unset;
    cursor: pointer;

}

.felso_valaszto_sor {
    margin-left: -4px;
    margin-top: -20px;
    padding: 20px;
    padding-bottom: 18px;
    float: left;
    margin-bottom: 10px;


}

.felso_valaszto_sor:hover{
    background-color: #d44551;
    border-bottom: 4px solid;
    border-color: rgb(56, 20, 20);

}

#kivalasztott {
    background-color: #c4242c;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border-bottom: 4px solid;

}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #d85d6d;
    padding-top: 40px;

}

body{
    background-image: url(hatter.png);
    overflow-x: hidden;

}

h3{
    text-decoration: unset;
    font-size: 14pt;
    font-weight: unset;
    padding-top: 10px;
    text-align: justify;

}

h2{
    font-size: 30pt;
    margin-bottom: 2px;
    margin-top: 2px;
}

#felezo_elso{
    width: 63%;
    float:right;
    margin-left: 10px;
}

#felezo_masodik{
    width: 35%;
    float:left;

}

hr{
    border-color: black;

}