@font-face {
    font-family: valorant_font;
    src: url(Valorant_Font.ttf);

}

body{
    overflow-x: hidden;
    background: rgb(39,37,54);
background: linear-gradient(90deg, rgba(39,37,54,1) 0%, rgba(120,19,19,1) 31%, rgba(196,36,44,1) 62%, rgba(251,68,84,1) 100%);
}


h1 {
    text-decoration: none;
    color: #FB4454;
    background-color: #181721;
    font-size: 60pt;
    padding-left: 50px;
    padding-top: 35px;
    padding-bottom: 20px;
    margin: -10px -10px 20px -10px;
    font-family: valorant_font;
    
}

h2, ol li.h2szamok{
    text-decoration: none;
    font-size: 30pt;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;

}


h3{
    text-decoration: none;
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: -10px; 
 
}

h4{
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;

}

h5{
    font-size: 16pt;
    font-weight: bold;

}

p, li{
    text-decoration: unset;
    font-size: 14pt;
    font-weight: unset;
    padding-top: 10px;
    text-align: justify;
    
}

li{
    padding-top: 5px;

}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #d85d6d;
    padding-top: 40px;
    
}

hr{
    border-color: black;

}

/* számozott lista előtt lévő szám */
ol li::marker, .vastag{
    font-weight: bold;
}

/* kattintható link */
a{ 
    color: black;
    text-decoration: unset;
    cursor: pointer;
    
}

.felso_valaszto_sor {
    margin-left: -4px;
    margin-top: -20px;
    padding: 20px;
    padding-bottom: 18px;
    float: left;
    margin-bottom: 10px;

}

.felso_valaszto_sor:hover{
    background-color: #d44551;
    border-bottom: 4px solid;
    border-color: rgb(56, 20, 20);

}

.kiskep{
    float: right; 
    margin-right: 100px; 
    margin-left: 10px;
    
}

.palyakep{
    background-color: #ecece4;
    width: 768px;
    float: right;
    margin: 20px;
}

.kisfegyverkep{
    float: right;
    padding-right: 150px;
    width: 320px;
    height: auto;

}

.h2szamok, .clear{
    clear: both;
}

.terkep{
    width: 1000px;
    height: 420px;
    margin-top: 20px;
}

#kivalasztott {
    background-color: #c4242c;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border-bottom: 4px solid;

}

#linkszoveg{
    font-weight: bold;
    margin-bottom: 3px;

}

#link{
    text-decoration: underline;
    color: rgb(109, 109, 109);

}

#felezo_elso{
    width: 63%;
    float:right;
    margin-left: 10px;
}

#felezo_masodik{
    width: 35%;
    float:left;

}

#ml-10{
    margin-left: -10px;
}

#jatekmodkep{
    float: right; 
    width: 29%; 
    margin: 15px; 
    margin-bottom: 0px;
}

#clear_l{
    clear: left;
}